/.DS_Store
/keys-generator.dSYM
/keys-generator.o.dSYM
/rsa.private
/rsa.public
/sign-file.dSYM
/sign-file.o.dSYM
/sign_temp.txt
/signature.enc
/temp.txt
/validate-key-and-file.dSYM
/validate-key-and-file.o.dSYM
/validate-signed-file.dSYM
/validate-signed-file.o.dSYM
/*.o
/16BitsPrimes.o 
/8BitsPrimes.o 
/hashing.o primes.o 
/32BitsPrimes.o 
/converters.o 
/mainFunctions.o 
/rsa.o
/sign-file.o
/validate-key-and-file.o
/keys-generator.o
/validate-signed-file.o